@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Segoe UI"), url("../fonts/SegoeUIBold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Segoe UI"), url("../fonts/SegoeUIRegular.woff") format("woff");
}
