.additional-nav {
  @include reset-list();
  @include set-font-size(18px);

  &__item {
    margin-bottom: 10px;

    &:first-child {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: $white;
    background-color: $blue;
    border-radius: 10px;

    &:hover,
    &:focus {
      background: linear-gradient($blue, $dark-blue);
      outline: none;
    }

    &:active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (min-width: $desktop) {
  .additional-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 460px;
    margin-left: auto;

    &__item {
      flex-basis: 145px;
      margin-bottom: 0;

      &:first-child {
        display: block;
      }
    }
  }
}
