.page-main {
  max-width: 1000px;

  &__title {
    @include set-font-size(36px);
    margin: 20px auto;
    font-weight: 400;
    text-align: center;
  }

  &__no-data {
    @include set-font-size(20px);
    margin: 20px auto 50px;
    font-weight: 300;
    text-align: center;
  }
}
